@import "tailwindcss";

.image {
  background: url(https://res.cloudinary.com/dfcr3ut7b/image/upload/v1771194923/f30e8a349d6f6f58f96aab7669df30176ece420c_ckhwpz.png)
    no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}
.image::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.219);
  top: 0;
  z-index: 999;
  left: 0;
}
