@import "tailwindcss";

.image {
  background: url(https://res.cloudinary.com/dfcr3ut7b/image/upload/v1771194923/f30e8a349d6f6f58f96aab7669df30176ece420c_ckhwpz.png)
    no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40rem;
}
.hero {
  background: url(https://res.cloudinary.com/dfcr3ut7b/image/upload/v1771271262/1a88f71f96c9b980f6e0e126c827db7ea7079001_z7xm05.png)
    no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 603px;
}
.hero1 {
  background: url(https://res.cloudinary.com/dfcr3ut7b/image/upload/v1771271269/ac04492104ce9181b9d37ce45eedfae9f04020a7_hhzdzc.png)
    no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 941px;
}

